body {
    margin: 0px;
}

.navbar {
    border: 5px dotted purple;
    height: 60px;
    background: #D71E28;
    
}
#logo {
    display: flex;
    text-align: center;
}
.topics {
    display: flex;
    justify-content: flex-end;
}
.accounts {
    border: 5px solid red;
    height: 80px;
}
.tools {
    border: 5px double black;
    height: 80px;
}
.manage {
    border: 5px groove orange;
    height: 500px;
}
footer {
    border: 5px dotted blue;
    height: 60px;
}